/* variable */
$black-background : #000;
$white-background : #FFFFFF;
$footer-background:#313130;
$footer-copyright-background : #282727;
$color : #236c88;
$border-bottom-menus: #f7941d;
$blue-background : #3b97d3;
$transition : all .3s ease;
$font-arapey :'Arapey', serif;
$font-source : 'Source Sans Pro', sans-serif ;
$font-allerta : 'Allerta', sans-serif;
/* import bxslider */
@import '../libs/jquery.bxslider.css';
/* import bootstrap */
@import '../libs/bootstrap.min.css';
/* import font-awesome*/
@import '../libs/font-awesome.min.css';
body{
  margin: 0;
}
/* general style*/
.logo-wrapper{
  a{
    img{
      padding-bottom: 30px;
    }
  }
}
#main-menu{
  text-align:right;
  text-transform:uppercase;
  position:relative;
}
#main-menu{
  ul ul{
    -moz-box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06); 
  } 
}
#main-menu{
  .nav-menu{
    list-style:none;
    margin:0;
    padding:0;
  }
}
.nav-menu{
  >li{
    display:inline-block;
    padding:0 20px;
  }
  a{
    color: $color;
    font-weight:300;
    padding:14px 0;
    border-bottom:1px solid transparent;
    text-transform: uppercase;
    font-family: $font-source;
    font-size: 16px;
    transition: $transition;
    &:hover{
        border-bottom-color:$border-bottom-menus;
        text-decoration:none;
    }
  }
}
#menu-wrapper{
  position:relative;
  margin-top: 40px;
}
.navbar-toggle{
  top:-70px;
  position:absolute;
  right:0;
}
.navbar-toggle{
  .icon-bar{
      background: $color;    
  }
}
/* Slides */
#slides{
  padding: 0;
}
/* About Us */
#about-us{
  background: $blue-background;
}
#about-us{
  h1{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    font-family: $font-allerta;
  }
  h2{
    text-transform: uppercase;
    color: #fff;
    font-family: $font-source;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 24px;
  }
  p{
    font-style: italic;
    text-align: center;
    color: #fff;
    font-family: $font-arapey;
    font-size: 22px;
    line-height: 1.3;
    font-size: 20px;
    font-weight: 300;
  }
  .arrow-down{
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent; 
    border-top: 50px solid #3b97d3;
    position: relative;
    bottom: -40px;
  }
}
/* projects */
#projects{
  padding: 0;
  margin-top: 50px;
  padding-bottom: 60px;
}
#projects{
  h1{
    text-transform: uppercase;
    color: #515251;
    text-align: center;
    margin-top: 30px;
    font-family: $font-allerta;
    padding-bottom: 30px;
  }
  slider1{
    position: relative;
  }
  slider1{
    slide{
      img{
        height: 100px;
        margin-left: 5px;
      }
    }
  }
}
/* news & event */
#news{
  padding-top: 50px;
  background: #e5e5e5;
  padding-bottom: 50px;
}
#news{
  h1{
    text-transform: uppercase;
    color: #515251;
    text-align: center;
    margin-top: 30px;
    font-family: $font-allerta;
    padding-bottom: 30px;
  }
  img{
    width: 100%;
  }
  h2{
    font-family: $font-source;
    text-align: left;
    color: #515251;
    text-transform: uppercase;
    font-size: 16px;
  }
  p{
    font-family: $font-source;
    text-align: left;
    color: #515251;
    font-size: 14px;
  }
  .read-more{
    a{
      background: $blue-background;
      float: left;
      padding: 10px 60px 10px;
      color: #fff;
      font-family: $font-source;
      transition:$transition;
      &:hover{
        text-decoration: none;
        background: $black-background;
      }
    }
  }
  i{
    padding-bottom: 10px;
  }
}
/* footer */
#footer{
  background: $footer-background ;
}
#footer{
  h3{
    color: #9e9e9e;
    font-family: $font-source;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  h4{
    color: #d3d3d3;
    font-family: $font-source;
    text-transform: uppercase;
  }
  p{
    color: #d3d3d3;
    font-family: $font-source;
  }
  ul{
    padding: 0;
  }
  ul li{
    list-style: none;
  }
  ul li a{
    text-decoration: none;
    color: #d3d3d3;
    &:hover{
      color : $blue-background;
      transition : $transition;
    }
  }
}
#footer-copyright{
  background: $footer-copyright-background;
 }
#footer-copyright{
  h3{
    text-align: left;
    color: #d5d6d5;
    font-size: 14px;
    font-family: $font-source;
  }
}