/* variable */
/* import bxslider */
@import url(../libs/jquery.bxslider.css);
/* import bootstrap */
@import url(../libs/bootstrap.min.css);
/* import font-awesome*/
@import url(../libs/font-awesome.min.css);
body {
  margin: 0; }

/* general style*/
.logo-wrapper a img {
  padding-bottom: 30px; }

#main-menu {
  text-align: right;
  text-transform: uppercase;
  position: relative; }

#main-menu ul ul {
  -moz-box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06); }

#main-menu .nav-menu {
  list-style: none;
  margin: 0;
  padding: 0; }

.nav-menu > li {
  display: inline-block;
  padding: 0 20px; }
.nav-menu a {
  color: #236c88;
  font-weight: 300;
  padding: 14px 0;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  transition: all 0.3s ease; }
  .nav-menu a:hover {
    border-bottom-color: #f7941d;
    text-decoration: none; }

#menu-wrapper {
  position: relative;
  margin-top: 40px; }

.navbar-toggle {
  top: -70px;
  position: absolute;
  right: 0; }

.navbar-toggle .icon-bar {
  background: #236c88; }

/* Slides */
#slides {
  padding: 0; }

/* About Us */
#about-us {
  background: #3b97d3; }

#about-us h1 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  font-family: "Allerta", sans-serif; }
#about-us h2 {
  text-transform: uppercase;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 24px; }
#about-us p {
  font-style: italic;
  text-align: center;
  color: #fff;
  font-family: "Arapey", serif;
  font-size: 22px;
  line-height: 1.3;
  font-size: 20px;
  font-weight: 300; }
#about-us .arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #3b97d3;
  position: relative;
  bottom: -40px; }

/* projects */
#projects {
  padding: 0;
  margin-top: 50px;
  padding-bottom: 60px; }

#projects h1 {
  text-transform: uppercase;
  color: #515251;
  text-align: center;
  margin-top: 30px;
  font-family: "Allerta", sans-serif;
  padding-bottom: 30px; }
#projects slider1 {
  position: relative; }
#projects slider1 slide img {
  height: 100px;
  margin-left: 5px; }

/* news & event */
#news {
  padding-top: 50px;
  background: #e5e5e5;
  padding-bottom: 50px; }

#news h1 {
  text-transform: uppercase;
  color: #515251;
  text-align: center;
  margin-top: 30px;
  font-family: "Allerta", sans-serif;
  padding-bottom: 30px; }
#news img {
  width: 100%; }
#news h2 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  color: #515251;
  text-transform: uppercase;
  font-size: 16px; }
#news p {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  color: #515251;
  font-size: 14px; }
#news .read-more a {
  background: #3b97d3;
  float: left;
  padding: 10px 60px 10px;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  transition: all 0.3s ease; }
  #news .read-more a:hover {
    text-decoration: none;
    background: #000; }
#news i {
  padding-bottom: 10px; }

/* footer */
#footer {
  background: #313130; }

#footer h3 {
  color: #9e9e9e;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px; }
#footer h4 {
  color: #d3d3d3;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase; }
#footer p {
  color: #d3d3d3;
  font-family: "Source Sans Pro", sans-serif; }
#footer ul {
  padding: 0; }
#footer ul li {
  list-style: none; }
#footer ul li a {
  text-decoration: none;
  color: #d3d3d3; }
  #footer ul li a:hover {
    color: #3b97d3;
    transition: all 0.3s ease; }

#footer-copyright {
  background: #282727; }

#footer-copyright h3 {
  text-align: left;
  color: #d5d6d5;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif; }

/*# sourceMappingURL=styles.css.map */
